

    body{
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        position: absolute;
    }

    @font-face {
        font-family: 'Forte'; /*a name to be used later*/
        src: url('font/FORTE.TTF'); /*URL to font*/
    }

    .btn-enviar{
        background-color: rgba(227,6,19,255); /* Green */
        border: none;
        color: white;
        padding: 8px 13px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
        font-family: 'Franklin Gothic Heavy', arial;
    }

    .cajitaCampaña{
        background-image: url("img/fondo.jpg");
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    .cajitaCampañaFondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .espacioCarousel{
        height: 10vh !important;
        width: 50vw;
    }

    .carousel{
        width: 50vw !important;
    }

    .videoholder {
        overflow:hidden;
        height: 68vh;
        width: 50vw;
          background:url("http://lorempixel.com/1140/450/") no-repeat scroll center top /cover  #666;
      }

    .iconCar{
        height: 60vh;
    }

    

    .btn-enviar:hover{
        background-color: rgb(131, 15, 15);
    }

    .btn-enviar:active{
        background-color: rgb(158, 19, 19);
    }

    
    .cajita{
        background-color: white;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .cajita2{
        background-image: url("img/fondo.jpg");
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    .cajita2FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .perfil{
        width: 160px;
        height: 160px;
        margin-bottom: 25px;
        border-radius: 100%;
        background-image: url("img/perfil_maria\ Liz.png");
        background-size: cover;
        border: white 1px solid;
    }

    .propuestaImg{
        width: 50vw;
        height: 55vh;
        margin-left: 10px;
        background-image: url("img/propuesta.png");
        background-size: cover;
        object-position: -50% 50%;
        border: white 1px solid;
    }


    .quienesSomosCuadro{
        height: 55vh;
        width: 30vw;
        background-color: #ffffff7c;
        border: white 1px solid;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textBase{
        font-family: 'ITC Franklin Gothic', arial;
        font-size: 20px;
        color: white;
    }

    .PropuestaCuadro{
        height: 55vh;
        width: 60vw;
        padding-left: 20px;
        background-color: #ffffff7c;
        border: white 1px solid;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    

    .cajita3{
        background-color: rgb(169, 36, 162);
        height: 100vh;
        width: 100vw;
    }

    .cajita4{
        background-color: rgb(255, 255, 255);
        height: 100vh;
        width: 100vw;
    }

    .cajita5{
        background-color: rgb(195, 16, 76);
        height: 100vh;
        width: 100vw;
    }

    .social{
        position: fixed;
        display: flex;
        flex-direction: column;
        bottom: 43vh;
        left: 5px;
        z-index: 8;
    }

    .instagram{
        background-color: #ac2bac;
    }

    .instagram:hover{
        background-color: #850385;
    }

    .instagram:active{
        background-color: #a503a5;
    }

    .facebook{
        background-color: #0d04ae;
    }

    .facebook:hover{
        background-color: #1b0266;
    }

    .facebook:active{
        background-color: #270199;
    }

    .twitter{
        background-color: #3e75eb;
    }

    .twitter:hover{
        background-color: #2231a2;
    }

    .twitter:active{
        background-color: #3644ad;
    }

    .whatsapp{
        background-color: rgb(2, 190, 71);
    }

    .whatsapp:hover{
        background-color: rgb(2, 143, 53);
    }

    .whatsapp:active{
        background-color: rgb(2, 160, 71);
    }

    .extender{
        background-color: rgba(160, 3, 13, 0.726);
        border-radius: 20px;
        padding: 30px;
        width: 18%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .vertical{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .baseInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(255, 255, 255);
        opacity: 1; /* Firefox */
    }

    .baseInput{
        width: 100%;
        color: rgb(255, 255, 255) !important;
        background-color: rgba(160, 3, 13, 0.726);
        border: 1px solid rgb(255, 255, 255);
        border-radius: 0.9rem;
        padding: 0.3rem 0.5rem;
        font-family: 'Franklin Gothic Heavy', arial;
    }
    
    .baseInput:focus{
        outline: none;
        background-color: rgba(160, 3, 13, 0.726);
        border-color: rgba(227,6,19,255);
        box-shadow: 0 0 3px rgba(227,6,19,255);
        -moz-box-shadow: 0 0 3px rgba(227,6,19,255);
        -webkit-box-shadow: 0 0 3px rgba(227,6,19,255);
    }

    .imagenCabezera{
        width: 70vw;
    }

    .espacio{
        width: 100vw;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logosEspacio{
        background-color: white;
        width: 100vw;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logos{
        width: 80vw;
        display: flex;
    }

    .espacioTrabajo{
        width: 100vw;
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .trabajo{
        width: 30vw;
        display: flex;
        margin-bottom: 3%;
    }

    .espacioPropuesta{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .propuesta{
        width: 40vw;
        display: flex;
    }

    .colaborador{
        margin-top: 2%;
        color: white;
        font-size: 60px;
        font-family: 'Forte', sans-serif;  
    }











     
    
    

    

    
    

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .cajita2FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }


    .PropuestaCuadro{
        height: 45vh;
        width: 85vw;
    }

    .propuestaImg{
        width: 180vw;
        height: 45vh;
    }



    .cajita{
        height: 50vh;
    }


    .perfil{
        width: 130px;
        height: 130px;
    }

    .quienesSomosCuadro{
        height: 55vh;
        width: 80vw;
        padding: 20px;
    }

    .textBase{
        font-size: 18px;
    }

    .cajita2{
        height: 60vh;
    }

    .cajita2FondoRojo{
        height: 60vh;
    }



    .cajitaCampaña{
        height: 60vh;
        width: 100vw;
    }

    .cajitaCampañaFondoRojo{
        height: 60vh;
        width: 100vw;
    }

    .carousel{
        width: 52vw !important;
    }

    .videoholder {
        overflow:hidden;
        height: 38vh;
        width: 52vw;
          background:url("http://lorempixel.com/1140/450/") no-repeat scroll center top /cover  #666;
    }

    .iconCar{
        height: 30vh;
    }




    .cajita3FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        height: 76vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cajita3{
        background-image: url("img/fondo.jpg");
        background-size: cover;
        height: 76vh;
        width: 100vw;
    }


    .espacioTrabajo{
        margin-top: 5%;
        height: 20vw;
    }

    .trabajo{
        width: 50vw;
        display: flex;
        margin-bottom: 3%;
    }

    .propuesta{
        width: 63vw;
        display: flex;
    }

    .colaborador{
        font-size: 45px;
    }

    .extender{
        width: 40vw;
        height: 45vh;
    }

    .espacio{
        height: 85vh;
    }

    .logosEspacio{
        height: 24vh;
    }

    .imagenCabezera{
        width: 80vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .cajita2FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }


    .PropuestaCuadro{
        height: 55vh;
        width: 85vw;
    }

    .propuestaImg{
        width: 120vw;
        height: 55vh;
    }


    .cajita{
        height: 50vh;
    }


    .perfil{
        width: 130px;
        height: 130px;
    }

    .quienesSomosCuadro{
        height: 55vh;
        width: 50vw;
        padding: 20px;
    }

    .textBase{
        font-size: 19px;
    }




    .cajitaCampaña{
        height: 85vh;
        width: 100vw;
    }

    .cajitaCampañaFondoRojo{
        height: 85vh;
        width: 100vw;
    }

    .carousel{
        width: 63vw !important;
    }

    .videoholder {
        overflow:hidden;
        height: 55vh;
        width: 63vw;
          background:url("http://lorempixel.com/1140/450/") no-repeat scroll center top /cover  #666;
    }

    .iconCar{
        height: 45vh;
    }




    .cajita2{
        height: 70vh;
    }

    .cajita2FondoRojo{
        height: 70vh;
    }

    .cajita3FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        height: 75vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cajita3{
        background-image: url("img/fondo.jpg");
        background-size: cover;
        height: 75vh;
        width: 100vw;
    }


    .espacioTrabajo{
        margin-top: 2%;
        height: 20vw;
    }

    .trabajo{
        width: 35vw;
        display: flex;
        margin-bottom: 3%;
    }

    .propuesta{
        width: 50vw;
        display: flex;
    }

    .colaborador{
        font-size: 45px;
    }

    .extender{
        width: 40vw;
        height: 45vh;
    }

    .espacio{
        height: 85vh;
    }

    .logosEspacio{
        height: 24vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    

    .cajita2FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
    }


    .PropuestaCuadro{
        height: 55vh;
        width: 85vw;
    }

    .propuestaImg{
        width: 80vw;
        height: 55vh;
    }

    .cajitaCampaña{
        height: 100vh;
        width: 100vw;
    }

    .cajitaCampañaFondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        height: 100vh;
        width: 100vw;
    }

    .espacioCarousel{
        height: 10vh !important;
        width: 55vw;
    }

    .carousel{
        width: 55vw !important;
    }

    .videoholder {
        height: 68vh;
        width: 55vw;
    }

    .iconCar{
        height: 57vh;
    }

    
    .cajita2{
        height: 70vh;
    }

    

    .perfil{
        width: 130px;
        height: 130px;
    }

    .quienesSomosCuadro{
        height: 55vh;
        width: 40vw;
        padding: 20px;
    }

    .textBase{
        font-size: 20px;
    }

    .cajita3FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        height: 80vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    

    .cajita3{
        background-image: url("img/fondo.jpg");
        background-size: cover;
        height: 75vh;
        width: 100vw;
    }

    .cajita{
        height: 60vh;
    }

    

    .cajita2FondoRojo{
        height: 70vh;
    }

    .espacioTrabajo{
        margin-top: 2%;
        height: 20vw;
    }

    .trabajo{
        width: 35vw;
        display: flex;
        margin-bottom: 1%;
    }

    .propuesta{
        width: 45vw;
        display: flex;
    }

    .colaborador{
        font-size: 45px;
    }

    .extender{
        width: 33vw;
        height: 45vh;
    }

    .espacio{
        height: 100vh;
    }

    .logosEspacio{
        height: 35vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
                                                
    }

    .cajita2FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-enviar{
        background-color: rgba(227,6,19,255); /* Green */
        border: none;
        color: white;
        padding: 8px 13px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
    }

    .btn-enviar:hover{
        background-color: rgb(131, 15, 15);
    }

    .btn-enviar:active{
        background-color: rgb(158, 19, 19);
    }




    .PropuestaCuadro{
        height: 55vh;
        width: 60vw;
    }

    .propuestaImg{
        width: 60vw;
        height: 55vh;
    }
   





    .cajitaCampaña{
        background-image: url("img/fondo.jpg");
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    .cajitaCampañaFondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .espacioCarousel{
        height: 10vh !important;
        width: 50vw;
    }

    .carousel{
        width: 47vw !important;
    }

    .videoholder {
        overflow:hidden;
        height: 68vh;
        width: 47vw;
          background:url("http://lorempixel.com/1140/450/") no-repeat scroll center top /cover  #666;
      }

    .iconCar{
        height: 60vh;
    }




    
    .cajita{
        background-color: white;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .cajita2{
        background-image: url("img/fondo.jpg");
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    

    .cajita3{
        background-image: url("img/fondo.jpg");
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    .cajita3FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cajita4{
        background-color: rgb(255, 255, 255);
        height: 100vh;
        width: 100vw;
    }

    .cajita5{
        background-color: rgb(195, 16, 76);
        height: 100vh;
        width: 100vw;
    }

    .social{
        position: fixed;
        display: flex;
        flex-direction: column;
        bottom: 43vh;
        left: 5px;
    }

    .instagram{
        background-color: #ac2bac;
    }

    .instagram:hover{
        background-color: #850385;
    }

    .instagram:active{
        background-color: #a503a5;
    }

    .facebook{
        background-color: #0d04ae;
    }

    .facebook:hover{
        background-color: #1b0266;
    }

    .facebook:active{
        background-color: #270199;
    }

    .twitter{
        background-color: #3e75eb;
    }

    .twitter:hover{
        background-color: #2231a2;
    }

    .twitter:active{
        background-color: #3644ad;
    }

    .whatsapp{
        background-color: rgb(2, 190, 71);
    }

    .whatsapp:hover{
        background-color: rgb(2, 143, 53);
    }

    .whatsapp:active{
        background-color: rgb(2, 160, 71);
    }

    .extender{
        background-color: rgba(160, 3, 13, 0.726);
        border-radius: 20px;
        padding: 30px;
        width: 18%;
        height: 63%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .vertical{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .baseInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(255, 255, 255);
        opacity: 1; /* Firefox */
    }

    .baseInput{
        width: 100%;
        color: rgb(255, 255, 255) !important;
        background-color: rgba(160, 3, 13, 0.726);
        border: 1px solid rgb(255, 255, 255);
        border-radius: 0.9rem;
        padding: 0.3rem 0.5rem;
    }
    
    .baseInput:focus{
        outline: none;
        background-color: rgba(160, 3, 13, 0.726);
        border-color: rgba(227,6,19,255);
        box-shadow: 0 0 3px rgba(227,6,19,255);
        -moz-box-shadow: 0 0 3px rgba(227,6,19,255);
        -webkit-box-shadow: 0 0 3px rgba(227,6,19,255);
    }

    .imagenCabezera{
        width: 70vw;
    }

    .espacio{
        width: 100vw;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logosEspacio{
        background-color: white;
        width: 100vw;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logos{
        width: 80vw;
        display: flex;
    }

    .espacioTrabajo{
        width: 100vw;
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .trabajo{
        width: 30vw;
        display: flex;
        margin-bottom: 3%;
    }

    .espacioPropuesta{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .propuesta{
        width: 40vw;
        display: flex;
    }

    .colaborador{
        margin-top: 2%;
        color: white;
        font-size: 60px;
    }

    


}

@media only screen and (max-width: 599px) {
    .cajita2FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }



    .PropuestaCuadro{
        height: 45vh;
        width: 85vw;
    }

    .propuestaImg{
        width: 290vw;
        height: 45vh;
    }


    .cajita{
        height: 30vh;
    }


    .perfil{
        width: 130px;
        height: 130px;
    }

    .quienesSomosCuadro{
        height: 55vh;
        width: 80vw;
        padding: 20px;
    }

    .textBase{
        font-size: 18px;
    }



    .cajita2{
        height: 63vh;
    }



    .cajitaCampaña{
        height: 55vh;
        width: 100vw;
    }

    .cajitaCampañaFondoRojo{
        height: 55vh;
        width: 100vw;
    }

    .carousel{
        width: 58vw !important;
    }

    .videoholder {
        overflow:hidden;
        height: 38vh;
        width: 58vw;
          background:url("http://lorempixel.com/1140/450/") no-repeat scroll center top /cover  #666;
    }

    .iconCar{
        height: 30vh;
    }




    .cajita2FondoRojo{
        height: 63vh;
    }

    .cajita3FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        height: 75vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cajita3{
        background-image: url("img/fondo.jpg");
        background-size: cover;
        height: 65vh;
        width: 100vw;
    }


    .espacioTrabajo{
        margin-top: 9%;
        height: 20vw;
    }

    .trabajo{
        width: 50vw;
        display: flex;
        margin-bottom: 5%;
    }

    .propuesta{
        width: 80vw;
        display: flex;
    }

    .colaborador{
        font-size: 33px;
    }

    .extender{
        margin-top: 8px;
        width: 60vw;
        height: 46vh;
    }

    .espacio{
        height: 85vh;
    }

    .logosEspacio{
        height: 20vh;
    }

    .imagenCabezera{
        width: 80vw;
    }

    .logos{
        width: 85vw;
    }
}

@media only screen and (max-width: 500px) {
    .cajita2FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .cajita{
        height: 30vh;
    }

    .cajita2{
        height: 55vh;
    }

    .cajita2FondoRojo{
        height: 55vh;
    }

    .cajita3FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        height: 70vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cajita3{
        background-image: url("img/fondo.jpg");
        background-size: cover;
        height: 60vh;
        width: 100vw;
    }


    .espacioTrabajo{
        margin-top: 9%;
        height: 20vw;
    }

    .trabajo{
        width: 50vw;
        display: flex;
        margin-bottom: 5%;
    }

    .propuesta{
        width: 80vw;
        display: flex;
    }

    .colaborador{
        font-size: 33px;
    }

    .extender{
        margin-top: 8´x;
        width: 60vw;
        height: 45vh;
    }

    .espacio{
        height: 85vh;
    }

    .logosEspacio{
        height: 20vh;
    }

    .imagenCabezera{
        width: 80vw;
    }

    .logos{
        width: 85vw;
    }
}



@media only screen and (max-width: 450px) {
    .cajita2FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .cajita{
        height: 30vh;
    }

    .cajita2{
        height: 65vh;
    }

    .cajita2FondoRojo{
        height: 65vh;
    }

    .quienesSomosCuadro{
        height: 70vh;
    }

    .PropuestaCuadro{
        height: 50vh;
    }

    .propuestaImg{
        height: 50vh;
        width: 550vw;
    }

    .extender{
        margin-top: 2px;
        height: 50vh;
        width: 80vw;
    }

    .textBase{
        font-size: 15px;
    }

    .cajita3FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        height: 70vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cajita3{
        background-image: url("img/fondo.jpg");
        background-size: cover;
        height: 60vh;
        width: 100vw;
    }


    .espacioTrabajo{
        margin-top: 9%;
        height: 20vw;
    }

    .trabajo{
        width: 60vw;
        display: flex;
        margin-bottom: 5%;
    }

    .propuesta{
        width: 93vw;
        display: flex;
    }

    .colaborador{
        font-size: 23px;
    }

    .espacio{
        height: 85vh;
    }

    .logosEspacio{
        height: 15vh;
    }

    .imagenCabezera{
        width: 90vw;
    }

    .logos{
        width: 90vw;
    }
}

@media only screen and (max-width: 301px){
    .cajita2FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .cajita{
        height: 22vh;
    }

    .cajita2{
        height: 39vh;
    }

    .cajita2FondoRojo{
        height: 46vh;
    }

    .cajita3FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        height: 65vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cajita3{
        background-image: url("img/fondo.jpg");
        background-size: cover;
        height: 60vh;
        width: 100vw;
    }


    .espacioTrabajo{
        margin-top: 9%;
        height: 20vw;
    }

    .trabajo{
        width: 60vw;
        display: flex;
        margin-bottom: 5%;
    }

    .propuesta{
        width: 93vw;
        display: flex;
    }

    .colaborador{
        font-size: 20px;
    }

    .extender{
        margin-top: 8px;
        width: 80vw;
        height: 45vh;
    }

    .espacio{
        height: 85vh;
    }

    .logosEspacio{
        height: 15vh;
    }

    .imagenCabezera{
        width: 90vw;
    }

    .logos{
        width: 90vw;
    }
}

@media only screen and (max-height: 750px){
    .cajita2FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .cajita{
        height: 22vh;
    }

    .cajita2{
        height: 75vh;
    }

    .cajita2FondoRojo{
        height: 75vh;
    }

    .PropuestaCuadro{
        height: 58vh;
    }

    .cajita3FondoRojo{
        background-color: rgba(193, 34, 31, 0.815);
        height: 80vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cajita3{
        background-image: url("img/fondo.jpg");
        background-size: cover;
        height: 60vh;
        width: 100vw;
    }


    .espacioTrabajo{
        margin-top: 9%;
        height: 20vw;
    }

    .trabajo{
        width: 60vw;
        display: flex;
        margin-bottom: 5%;
    }

    .propuesta{
        width: 93vw;
        display: flex;
    }

    .colaborador{
        font-size: 20px;
    }

    .extender{
        margin-top: 8px;
        width: 80vw;
        height: 55vh;
    }

    .espacio{
        height: 85vh;
    }

    .logosEspacio{
        height: 15vh;
    }

    .imagenCabezera{
        width: 90vw;
    }

    .logos{
        width: 90vw;
    }
}























